@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h6>@ViewBag.Message</h6>

    <h5>VALUES</h5>
    <p>
        The Central Applications Office is intent on strengthening its customers by providing a valuable service, support and knowledge that is underpinned by shared values. These values serve as a framework for all its activities and processes.
    </p>
</main>