@{
    ViewBag.Title = "IAO Home";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Izimpisi Applications Office IAO</h1>
        <p class="lead">
            The leading organisation that provides services in the facilitation of student access to post-schooling education.
        </p>
    </section>

    <div class="row">
        <section class="col-md-10" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Getting started</h2>
            <p>
                Izimpisi Applications Office is one of the leading digital application systems. It is based on all
                public higher education institutions in the Gauteng Province.
            </p>
            <p><a class="btn btn-outline-dark" href="/PersonalInfoes/Create">Create New Application</a></p>
        </section>
    </div>
</main>